/* Skeleton card styles */
.skeleton-card {
    background-color: #cccbcb;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 123, 255, 0.3); 
    transition: box-shadow 0.3s ease; 
    border: none;
    border-color: #fff;
  }
  

  .skeleton-content {
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 10px;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 0.8;
    }
  }
  
  .skeleton-card:hover {
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.4); 
  }
  